{% extends "base.html" %}

{% block content %}
 <html> 
     <head> 
        <h1>New User Registration</h1>          
     </head> 

     <body> 

            <form action="/register" method="POST">
                <table>
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td>
                            <input name="username" type="username" value="{{ username }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td>
                            <input name="password" type="password">
                        </td>
                    </tr>                    
                </table>
                <input type="submit" value="Register">
            </form>
         
     </body> 
 </html> 
 {% endblock %}
